body {
    min-height: 100vh;
    margin: 0 auto;
    background: url(../assets/headerImage.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

button {
    background-color: $bodyBack;
    padding: 1rem;
    border: 2px solid #000;
    border-radius: 10px;
    font-weight: 600;
    transition: all 0.3s ease;
}
button:hover,
button:focus {
    color: $bodyBack;
    background-color: #000;
}

header {
    margin: 1rem;
    h1 {
        text-align: center;
        margin: 2rem;
    }
    p {
        max-width: 76.8rem;
        margin: 0 auto;
        padding: 1rem;
        border-radius: 10px;
        background-color: $textBack;
    }
}

.introPage {
    margin: 2rem 0;
    text-align: center;
    form {
        margin: 0 auto;
        max-width: 78rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        input {
            width: clamp(30rem, 46%, 35rem);
            border-radius: 1rem;
            padding: 1rem;
            margin: 2rem 2%;
            border: 2px solid #000;
        }
        input:hover,
        input:focus {
            background-color: $textBack;
        }
        input[type="submit"] {
            background-color: $bodyBack;
            border: 2px solid #000;
            font-weight: 600;
            transition: all 0.3s ease;
        }
        input[type="submit"]:hover,
        input[type="submit"]:focus {
            color: $bodyBack;
            background-color: #000;
        }
    }
}

.house {
    display: flex;
    margin: 1rem auto;
    max-width: 76.8rem;
    text-align: center;
    img {
        width: 25%;
        margin: 1rem auto;
        max-width: 50rem;
        min-width: 15rem;
        width: 20%;
    }
    .text {
        width: 65%;
        background-color: $textBack;
        text-align: left;
        margin: 1rem auto;
        padding: 1rem;
        border-radius: 10px;
    }
}

.startAdventure, .beginScenario {
    display: none;
    margin-bottom: 2rem;
    min-width: 30rem;
    text-align: center;
}

.endingPage,
.gryffindor,
.slytherin,
.ravenclaw,
.hufflepuff,
.scenarioPage,
.preStoryPage {
    display: none;
}

.preStoryPage {
    p, blockquote {
        max-width: 76.8rem;
        margin: 2rem auto;
        padding: 1rem;
        border-radius: 10px;
        background-color: $textBack;
    }
    .studentHouse {
        font-weight: bold;
    }
}

.scenarioPage {
    .sceneText,
    .answerOptions {
        max-width: 76.8rem;
        margin: 2rem auto;
        padding: 1rem;
        border-radius: 10px;
        background-color: $textBack;
        font-size: 2rem;
        font-weight: 500;
    }

}

.answerOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 3rem auto;
    ul {
        min-width: 15rem;
        width: 30%;
        font-size: 2rem;
        font-weight: 400;
        li {
            padding: 0.5rem 1rem;
            margin: 0.5rem 0;
            text-decoration: underline;
            transition: all 0.3s ease;
            border-radius: 1rem;
        }
        li:hover,
        li:focus,
        li:active {
            background-color: sandybrown;
        }
    }
    .wrongAnswerPrompt,
    img {
        max-height: 100%;
        width: 30%;
        min-width: 15rem;
    }
    .wrongAnswerPrompt {
        text-align: center;
        background-repeat: no-repeat;
        color: firebrick;
        font-weight: 700;
    }
}

.continueButton {
    text-align: center;
}

.endingText {
    max-width: 76.8rem;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 10px;
    background-color: $textBack;
}

.endingPage {
    text-align: center;
}

footer {
    display: none;
}


