// styles all buttons
button {
    background-color: $bodyBack;
    padding: 1rem;
    border: 2px solid #000;
    border-radius: 10px;
    font-weight: 600;
    transition: all 0.3s ease;
    font-family: $fontHead;
}
button:hover,
button:focus {
    color: $bodyBack;
    background-color: #000;
}

// header styles
header {
    margin: 1rem;
    h1 {
        text-align: center;
        max-width: 76.8rem;
        margin: 2rem auto;
        padding: 1rem;
        border-radius: 10px;
        background-color: $textBack;
    }
    p {
        max-width: 76.8rem;
        margin: 0 auto;
        padding: 1rem;
        border-radius: 10px;
        background-color: $textBack;
    }
}

// introPage section
.introPage {
    margin: 2rem 0;
    text-align: center;
    form {
        margin: 0 auto;
        max-width: 78rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        input {
            width: clamp(25rem, 46%, 35rem);
            border-radius: 1rem;
            padding: 1rem;
            margin: 2rem 2%;
            border: 2px solid #000;
            font-family: $fontContent;
            font-weight: 600;
        }
        input:hover,
        input:focus {
            background-color: $textBack;
        }
        input[type="submit"] {
            background-color: $bodyBack;
            border: 2px solid #000;
            font-weight: 600;
            transition: all 0.3s ease;
            font-family: $fontHead;
        }
        input[type="submit"]:hover,
        input[type="submit"]:focus {
            color: $bodyBack;
            background-color: #000;
        }
    }
}

// styles house information section
.house {
    margin: 1rem auto;
    max-width: 76.8rem;
    text-align: center;
    img {
        width: 25%;
        margin: 1rem auto;
        max-width: 50rem;
        min-width: 15rem;
        width: 20%;
    }
    .text {
        width: 65%;
        background-color: $textBack;
        text-align: left;
        margin: 1rem auto;
        padding: 1rem;
        border-radius: 10px;
        span {
            font-weight: bolder;
        }
    }
}

// styles begining of scenarios
.startAdventure, 
.beginScenario {
    display: none;
    margin-bottom: 2rem;
    text-align: center;
}
.beginScenario button {
    min-width: 25rem;
}

// hiding all sections not required during start
.endingPage,
.gryffindor,
.slytherin,
.ravenclaw,
.hufflepuff,
.scenarioPage,
.preStoryPage {
    display: none;
}

// styles preStory section
.preStoryPage {
    p, blockquote {
        max-width: 76.8rem;
        margin: 2rem auto;
        padding: 1rem;
        border-radius: 10px;
        background-color: $textBack;
    }
    .studentHouse {
        font-weight: bold;
    }
}

// styles scenario pages
.scenarioPage {
    .sceneText,
    .answerOptions {
        max-width: 76.8rem;
        margin: 2rem auto;
        padding: 1rem;
        border-radius: 10px;
        background-color: $textBack;
        font-size: clamp(1.5rem, 3vw, 2.2rem);
        font-weight: 500;
    }
    .sceneText h2 {
        text-align: center;
        font-family: $fontHead;
    }
}

// styles answer option part
.answerOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 3rem auto;
    ul {
        min-width: 15rem;
        width: 30%;
        font-size: clamp(1.5rem, 3vw, 2.2rem);
        font-weight: 400;
        border: 2px solid black;
        border-radius: 10px;
        li {
            padding: 0.5rem 1rem;
            margin: clamp(0 , 0.05vw, 0.5rem) 0;
            text-decoration: underline;
            transition: all 0.3s ease;
            border-radius: 1rem;
        }
        li:hover,
        li:focus,
        li:active {
            background-color: #000;
            color: $bodyBack;
        }
    }
    .wrongAnswerPrompt,
    img {
        border: 2px solid black;
        border-radius: 10px;
        height: 100%;
        width: 30%;
        min-width: 15rem;
    }
    .wrongAnswerPrompt {
        border: none;
        text-align: center;
        background-repeat: no-repeat;
        color: firebrick;
        font-weight: 500;
    }
}

.continueButton {
    text-align: center;
}

// styles ending style texts
.endingText {
    max-width: 76.8rem;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 10px;
    background-color: $textBack;
}

// styles ending page
.endingPage {
    text-align: center;
}
.playAgain {
    min-width: 25rem;
    margin-bottom: 3rem;
}

footer {
    p {
        text-align: center;
        max-width: 76.8rem;
        border-radius: 10px;
        padding: 0.5rem;
        margin: 0 auto;
        background-color: $textBack;
        .juno {
            margin: 0 0.2rem;
            padding: 0.2rem;
            border-radius: 5px;
            color: firebrick;
            transition: all 0.3s ease;
        }
        .juno:hover,
        .juno:focus {
            color: $bodyBack;
            background-color: firebrick;
        }
    }
}


