@media (max-width: 768px) {
    .introPage {
        form {
            // display: block;
            input {
                margin: 1rem 2%;
            }
        }
    }
    .house {
        flex-wrap: wrap;
        .text {
            margin: 1rem 0;
            width: 100%;
        }
    }

    .answerOptions {
        justify-content: center;
        ul,
        .wrongAnswerPrompt {
            margin: 0.5rem;
            min-width: 20rem;
            width: 46%;
        }
        img {
            display: none;
        }
        .wrongAnswerPrompt {
            padding: 0 0.5rem;
            background-color: firebrick;
            color: #FFF;
        }
    }
}


@media (max-width: 464px) {

}